.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-light-trans3);
  backdrop-filter: blur(2px);
  // box-shadow: 0 0 2rem 0px white;

  .inner {
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
  }

  .logo {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 9rem;
    background: var(--color-primary);
    background: var(--color-highlight-dark);
    padding: 0 var(--spacing-m) 0.6rem var(--spacing-m);
    margin-right: var(--spacing-m);
    border: none;

    img {
      height: 3rem;
      width: auto;
    }
  }

  .links {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: inherit;
      display: block;
      height: var(--header-height);
      display: flex;
      align-items: center;
      padding-right: var(--spacing-l);
      padding-left: var(--spacing-l);
      text-transform: uppercase;
      font-weight: var(--weight-bold);
      font-size: var(--font-s);
      border: none;
      // font-size: 0.75rem;
      // letter-spacing: 0.08em;
      // color: rgba(0, 0, 0, 0.6);
      transition: color 400ms ease-out;

      &:hover {
        border: none;
        color: var(--color-highlight);
      }
    }
  }
}
