.loadingInline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-default);

  svg {
    height: 2rem;
    width: 2rem;
  }

  .with-loader {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e15b64;
    padding-top: 0.5rem;
  }
}
