.loadingInline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color-bg-default);

  svg {
    height: 3rem;
    width: 3rem;
  }

  .withLoader {
    font-size: var(--font-l);
    font-weight: bold;
    padding-top: 0.5rem;
  }
}
