.loadingInline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-default);
  // background: yellow;
  .icon {
    // background: url(loading-dot.svg) no-repeat;
  }
  span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #e15b64;
    padding-top: 0.5rem;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}
