:root {
  --font-family-default: 'Nunito', 'Quicksand', -apple-system, Roboto, Ubuntu, Helvetica Neue, sans-serif;
  --font-family-heading: var(--font-family-default);

  --color-primary: hsl(145, 37%, 62%);
  --color-highlight: var(--color-primary);
  --color-highlight-dark: hsl(0, 0%, 0%);
  --color-highlight-shadow: hsl(0, 0%, 0%, 0.8);
  --color-input-border: hsla(142, 5%, 50%, 0.15);

  --color-error: #cb132d;
  --color-info: #067db4;

  --color-text1: hsl(220, 60%, 98%);
  --color-text2: hsl(228, 52%, 90%);
  --color-text3: hsl(228, 42%, 85%);
  --color-text4: hsl(228, 34%, 75%);
  --color-text5: hsl(228, 32%, 60%);
  --color-text6: hsl(228, 25%, 40%);

  --color-dark: #0f1111;
  --color-dark-trans0: hsla(179, 11%, 40%, 0.07);
  --color-dark-trans1: hsla(179, 30%, 40%, 0.2);
  --color-dark-trans2: hsla(179, 30%, 40%, 0.3);
  --color-dark-trans3: hsla(179, 30%, 0%, 0.5);
  --color-dark-trans4: hsla(0, 0%, 0%, 0.7);
  --color-dark-trans5: hsla(0, 0%, 0%, 0.9);

  --color-bg-default: #fff;
  --color-bg-light1: hsl(179, 37%, 20%);
  --color-bg-light2: hsl(179, 38%, 25%);
  --color-bg-light3: hsl(179, 38%, 30%);
  --color-bg-dark1: hsl(179, 21%, 9%);

  --color-light-trans0: hsla(0, 0%, 100%, 10%);
  --color-light-trans1: hsla(0, 0%, 100%, 20%);
  --color-light-trans2: hsla(0, 0%, 100%, 50%);
  --color-light-trans3: hsla(0, 0%, 100%, 50%);
  --color-light-trans4: hsla(0, 0%, 100%, 80%);

  // Major Third Scale
  --font-xs: 1.1rem;
  --font-s: 1.4rem;
  --font-m: 1.6rem;
  --font-l: 1.75rem;
  --font-xl: 2rem;
  --font-xxl: 3rem;
  --font-input1: 1.8rem;
  --font-input2: 2.2rem;
  --font-tagId: 2.8rem;

  --weight-light: 200;
  --weight-bold: 700;

  --spacing-xs: 0.5rem;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 5rem;

  --radius-xs: 0.3rem;
  --radius-s: 0.5rem;

  --header-height-small: 8rem;
  --header-height: 12rem;
  --header-height-offset: 16rem;

  --color-bg-default: rgba(255, 255, 255, 1);
  --grid-width: 700px;

  --form-field-height: 4.2rem;
  --form-label-height: 2rem;
  --form-err-height: 2.5rem;
}

::selection {
  background: var(--color-highlight); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: var(--color-highlight); /* Gecko Browsers */
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Mobile Safari */
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 7px;
  user-select: none;
  // background: url('./bg-pattern2.svg') no-repeat;
  // background-position: right bottom;
  // background-size: 55vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-default);
  font-size: var(--font-m);
  font-weight: var(--weight-light);
  line-height: 1.4;
  color: var(--color-dark);
  overflow-y: scroll;
}

// Tab: Landscape
@media only screen and (min-width: 1024px) and (min-height: 690px) {
  :root {
    --grid-width: 900px;
  }
  html {
    font-size: 8.7px;
  }
}

// Tab: Portrait
@media only screen and (min-width: 768px) and (min-height: 950px) {
  html {
    font-size: 12px;
    background-size: 95vw;
  }
}

// Tab Pro: Landscape
@media only screen and (min-width: 1366px) and (min-height: 950px) {
  html {
    font-size: 11.8px;
  }
}

// Tab Pro: Portrait
@media only screen and (min-width: 1024px) and (min-height: 1200px) {
  html {
    font-size: 15px;
  }
}

// Large Desktop
@media only screen and (min-width: 1440px) and (min-height: 850px) {
  html {
    font-size: 10.5px;
  }
}

// Extra Large Desktop
@media only screen and (min-width: 1600px) and (min-height: 1000px) {
  html {
    font-size: 14px;
  }
}

main,
.wrap {
  max-width: var(--grid-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
}

main {
  padding-top: var(--header-height-offset);
  padding-bottom: var(--spacing-l);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - var(--header-height));
}

section {
  width: 100%;
  max-width: 38em;
}

a {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: var(--weight-bold);
  border-bottom: 3px solid var(--color-dark-trans1);

  p {
    font-weight: var(--weight-light);
  }

  &:hover {
    border-color: var(--color-primary);
  }
}

h1,
.h1 {
  line-height: 1.15;
  font-size: 3.6rem;
  margin: 0 0 var(--spacing-m) 0;
  text-align: left;
  width: 100%;
  letter-spacing: -0.02em;
  font-weight: var(--weight-bold);

  i {
    font-weight: var(--weight-light);
    font-style: normal;
  }
}

h2 {
  font-size: 1.8rem;
  letter-spacing: -0.02em;
  margin-bottom: var(--spacing-m);
  margin: 0 0 var(--spacing-s) 0;
  font-weight: var(--weight-bold);
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  color: var(--color-dark-trans3);
  margin-bottom: var(--spacing-s);
}

h4 {
  margin: 0;
  color: var(--color-dark-trans2);
  color: var(--color-dark-trans3);
  font-size: 1.2rem;
  // background: var(--color-dark-trans2);
  display: inline-block;
  // padding: 0 var(--spacing-s);
  // text-transform: uppercase;
}

p {
  margin: 0 0 var(--spacing-m) 0;
}

ul.faq {
  padding-left: 1.2em;
  margin: 0 0 var(--spacing-m) 0;

  li {
    margin-bottom: var(--spacing-m);
    &::marker {
      color: var(--color-dark-trans3);
    }

    i {
      color: var(--color-dark-trans3);
      font-style: normal;
    }
  }
}

.faq {
  article {
    margin-bottom: var(--spacing-xl);
  }
}

.image-bubbles {
  // .bubble-2 {
  //   transform: scale(0.8) translate(-50%, -50%);
  // }
  // .bubble-3 {
  //   transform: scale(0.8) translate(0%, -102%);
  // }
}

.image-mask {
  width: 15rem;
  height: 15rem;
  max-height: 15rem;
  min-width: 15rem;
  overflow: hidden;
  border-radius: 15rem;
  border: 2px solid var(--color-dark-trans1);
  margin-bottom: var(--spacing-m);
  flex: 0 20em;
  margin: 0 0 1rem 3rem;

  img {
    height: 100%;
    width: auto;
  }
}

@media only screen and (min-width: 1025px) {
  .image-mask {
    width: 12rem;
    height: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    min-width: 12rem;
    max-width: 12rem;
  }
}

.page-home {
  .hero {
    margin-top: var(--spacing-xl);
  }
}

.page-product {
  article {
    display: flex;
    margin-bottom: var(--spacing-xl);

    div {
      order: 1;
    }

    ul {
      padding-left: 1.2em;
    }

    li {
      &::marker {
        color: var(--color-dark-trans3);
      }
    }
  }

  .image-left {
    order: -1;
    margin: 0 3rem 1rem 0;
  }
}

.page-faq {
  article {
    margin-bottom: var(--spacing-xl);
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--color-light-trans3);
  backdrop-filter: blur(2px);
  height: var(--header-height);
  // box-shadow: 0 0 2rem 0px white;

  &.small {
    height: var(--header-height-small);
    .logo {
      transform: scale(0.75);
    }

    .links {
      a {
        // transform: scale(0.75);
        padding: 0 var(--spacing-m);
        // opacity: 0.6;
      }
    }
  }

  .inner {
    height: 100%;
    display: flex;
    align-items: flex-end;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing-m);
    margin-left: calc(-1 * var(--spacing-m));
    border: none;
    height: 9rem;
    width: 9rem;
    overflow: hidden;
    transition: transform 400ms ease-out;

    img {
      width: auto;
      height: auto;
      object-fit: cover;
      max-width: 100%;
    }
  }

  .links {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: inherit;
      display: block;
      height: var(--header-height);
      height: 6rem;
      display: flex;
      align-items: center;
      padding: 0 var(--spacing-l);
      text-transform: uppercase;
      font-weight: var(--weight-bold);
      font-size: var(--font-s);
      border: none;
      // font-size: 0.75rem;
      // letter-spacing: 0.08em;
      // color: rgba(0, 0, 0, 0.6);
      transform-origin: left center;
      transition: color 300ms ease-out, padding 600ms ease-out;

      &:hover {
        border: none;
        color: var(--color-highlight);
      }
    }

    .selected {
      a {
        color: var(--color-primary);
      }
    }
  }
}

footer {
  width: 100%;
  height: 12rem;
  border-top: 1px solid var(--color-dark-trans0);
  background: var(--color-light-trans3);
  backdrop-filter: blur(2px);
  color: var(--color-dark-trans3);
  margin-top: var(--spacing-l);
  font-size: var(--font-xs);

  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo-line {
    display: flex;
    align-items: center;
  }

  img {
    width: 4.5rem;
    height: auto;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .disclaimer {
    margin-top: var(--spacing-m);
    text-align: left;
    max-width: 500px;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--color-dark-trans0);
  width: 100%;
  margin: var(--spacing-m) 0;
}

pre {
  font-size: 1.5rem;
  margin: 0;
}

.box {
  width: 100%;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 2rem;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  /* overflow: hidden; */ /* needed for proper mask cover*/
}

.box h2 {
  padding-bottom: var(--spacing-s);
}

.tag-list {
  .list-table {
    width: 100%;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-top: var(--spacing-m);

    tbody {
      width: 100%;
      max-height: 40vh;
      overflow: hidden;
      overflow-y: scroll;
    }

    tr {
      border: 1px solid var(--color-dark-trans0);
      border-left: 0;
      border-right: 0;
    }

    th,
    td {
      text-align: left;
      padding: var(--spacing-m) 0;
      user-select: text;
    }
  }
}

input,
select,
textarea,
.tag-or-key,
.cta {
  font-family: var(--font-family-default);
  height: var(--form-field-height);
  font-size: var(--font-input1);
  font-weight: var(--weight-bold);
  border-radius: var(--radius-s);
  border: 2px solid var(--color-input-border);
  padding: 0;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  outline: 0;
  display: inline-flex;
  align-items: center;
  transition: border 400ms ease-out, background 400ms ease-out;
  caret-color: var(--color-highlight);
  color: var(--color-highlight);
  background: var(--color-light-trans3);
  backdrop-filter: blur(2px);

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
  }

  &:hover {
    border: 2px solid var(--color-dark);
    background: white;
  }

  &:focus {
    border: 2px solid var(--color-highlight);
    background: white;
  }
}

.tag-or-key {
  font-size: var(--font-tagId);
  letter-spacing: 0.18em;
  line-height: 0.7;
  width: 8.5em;
  padding: 0;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}

.tag-inline {
  font-family: var(--font-family-heading);
  display: inline-flex;
  align-items: center;

  .tid {
    display: inline-block;
    color: var(--color-primary);
    border: 1px solid var(--color-dark-trans2);
    padding: 0 var(--spacing-m);
    margin: 0 var(--spacing-m);
    border-radius: var(--radius-xs);
    letter-spacing: 0.18em;
  }
  .inline-error {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.tagIdReadOnly {
  font-family: var(--font-family-default);
  height: var(--form-field-height);
  font-size: var(--font-m);
  border: 1px solid var(--color-dark-trans1);
  border-radius: var(--radius-s);
  padding: 0 var(--spacing-m);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  // background-color: var(--color-dark-trans0);
  width: 12em;

  span {
    font-weight: var(--weight-light);
    font-size: var(--font-m);
    font-weight: var(--weight-bold);
    letter-spacing: 0.18em;
  }
}

.cta {
  border: 2px solid transparent;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
  background: var(--color-primary);
  color: white;
  cursor: pointer;
  white-space: nowrap;
  min-width: 6em;
  justify-content: center;

  &:hover,
  &:focus {
    background: var(--color-highlight-dark);
    border: 2px solid transparent;
    // box-shadow: 0 0 0.7rem 0 var(--color-highlight-shadow);
  }
}

.cta-small {
  font-size: var(--font-s);
  height: 3rem;
  margin-top: var(--spacing-s);
}

.form-wrap {
  width: 100%;
  position: relative;
  // margin-top: var(--spacing-xxl);
}

.message-box-error,
.message-box {
  border-radius: var(--radius-s);
  color: var(--color-info);
  background-color: rgba(0, 140, 255, 0.05);
  padding: var(--spacing-l);
  margin-bottom: var(--spacing-l);

  h3 {
    color: var(--color-info);
    margin: 0 0 var(--spacing-xs) 0;
  }
  p {
    margin: 0;
  }
}

.message-box-error {
  color: var(--color-error);
  background-color: rgba(255, 0, 0, 0.05);
  h3 {
    color: var(--color-error);
  }
}

.form {
  width: 100%;
  position: relative;

  .field-name {
    max-width: 11.4em;
  }

  .field-phone {
    font-size: var(--font-input2);
    max-width: 9.3em;
  }

  fieldset {
    border: none;
    margin: 0;
    // margin-bottom: 0.75rem;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 1024px) and (min-height: 768px) {
      max-width: 35rem;
    }
  }

  fieldset.note {
    width: 100%;
  }

  .inline-error {
    color: var(--color-error);
    height: var(--form-err-height);
    font-size: var(--font-s);
    margin-bottom: var(--spacing-s);
    display: flex;
    align-items: center;
  }

  .inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inline fieldset {
    max-width: 350px;
    width: 100%;
  }

  .helperText {
    font-size: 1rem;
    display: var(--color-dark);
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.4);
  }

  label {
    height: var(--form-label-height);
    display: flex;
    align-items: flex-start;
    font-size: var(--font-s);

    span {
      color: rgba(0, 0, 0, 0.4);
      margin-left: var(--spacing-s);
    }
  }

  input,
  select {
    height: var(--form-field-height);
    display: flex;
    align-items: center;
  }

  .tagId {
    border-color: transparent;
  }

  textarea {
    height: 9.5rem;
  }

  .cta {
    float: right;
  }
}

.headings {
  margin-bottom: var(--form-err-height);
  h1 {
    margin-bottom: 0;
  }
}

.loadingContainer {
  position: relative;
  width: 100%;
}

.marginTop1 {
  margin-top: var(--spacing-l);
}
.marginBottom1 {
  margin-bottom: var(--spacing-l);
}
.marginBottom2 {
  margin-bottom: var(--spacing-xl);
}
.marginBottom3 {
  margin-bottom: var(--spacing-xxl);
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.grid-item {
  max-width: 50%;
}

.card {
  margin-right: var(--spacing-m);
  margin-bottom: var(--spacing-l);
  padding: var(--spacing-l);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--color-dark-trans1);
  border-radius: var(--radius-s);
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  background: var(--color-light-trans3);
  backdrop-filter: blur(2px);

  @media only screen and (min-width: 1024px) {
    width: calc(50% - var(--spacing-l));
    min-height: 15rem;
    padding-bottom: 0;
  }
}

.tag-field-with-cta {
  margin: var(--spacing-xxl) 0;
  display: flex;
  // align-items: center;
  justify-content: left;

  .cta {
    margin-top: var(--form-label-height);
    margin-bottom: var(--form-err-height);
    margin-left: var(--spacing-m);
  }
}

.slide-sell {
  margin-top: var(--spacing-xxl);
}

.inline-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid var(--color-dark-trans0);
  padding-top: calc(var(--form-err-height) + var(--spacing-s));

  > * {
    margin-left: var(--spacing-l);
  }
}

.signin-buttons {
  margin: var(--spacing-xxl) 0;
  max-width: 265px;
}

.firebaseui-card-content {
  padding: 0 !important;
}

.firebaseui-idp-button {
  transform: scale(1.2);
}

.firebaseui-list-item {
  margin-bottom: 2rem !important;
}
